.grid{
    background-color:  #282c34;
    border: solid #61dafb;
    /* may need to change height */
    height: 55vh;
    /* height: 55%; */
    /* need to do a quick google to see why % doesnt work */
    position: relative;
}
.testObject{
    background-color: lightgreen;
    width: 25px;
    height: 25px;
    /* width: 2vw; */
    /* height: 2vh; */
        /*  */
    position: absolute;

}